mat-card {
    min-width: 280px;
    min-height: 280px;
}

.login-title {
    font-size: large;
    margin-bottom: 20px;
}

.spinner {
    position: absolute;
    left: 0;
    right: 0;
    width: 280px;
    height: 280px;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.5); /* 50% transparent grey */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* make sure the spinner is on top of everything else */
  }