<button 
    class="close-button"
    mat-dialog-close
>
    x
</button>
<mat-card
    class="synopsis-wrapper"
>
    <img 
        src="{{data.imageUrl}}" 
        alt="{{data.Title}}" 
    />
    <mat-card-header>
        <mat-card-title
            class="synopsis-title"
        >
            <h2>
                {{data.Title}}
            </h2>
            
        </mat-card-title>            
    </mat-card-header>

    <mat-card-content
        class="synopsis-descrition"
    >
        {{data.Description}}
    </mat-card-content>
</mat-card>