<div class="nav-bar">
    <button 
        mat-button 
        (click)="toMovies()"
        color="white"
    >
        <h1 class="nav-title">
            myFlix 
        </h1>
    </button>
    <div class="nav-buttons">
        <button 
            mat-button 
            (click)="toMovies()"
            color="white"
        >
            Movies
        </button>
        <span></span>
        <button 
            mat-button 
            (click)="toProfile()"
            color="white"
        >
            Profile
        </button>
        <span></span>
        <button 
            mat-button 
            (click)="logout()" 
            class="logout-button"
            color="white"
        >
        <mat-icon>
            logout
        </mat-icon> 
        Logout
        </button>
    </div> 
  </div>
  
