<div class="title-wrapper">
    <h1
        class="title"
    > 
        myFlix 
    </h1>
</div>

<div class="movie-grid">
    <mat-card 
        *ngFor="let movie of movies;"
        class="movie-card"
    >
      <img 
        src="{{movie.imageUrl}}" 
        alt="{{movie.Title}}" 
      />
      <mat-card-header>
        <mat-card-title>
            {{movie.Title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button 
            mat-button 
            color="primary"
        >
            Genre
        </button>
        <button 
            mat-button 
            color="primary"
        >
            Director
        </button>
        <button    
            mat-button 
            color="primary"
        >
            Synopsis
        </button>
        <mat-icon>
            favorite_border
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  