.user-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    color: white;
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    margin: 10px;
    border-radius: 5px;
}

button {
    margin: 10px;
}

button:hover {
    opacity: 0.5;
}